<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<section>
    <main>
        <div class="container py-4">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Send Crypto across the world.</h1>
                    <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
                    <button class="enableEthereumButton btn btn-primary btn-lg" type="button">Connect Wallet</button>
                    <!-- <a class="btn btn-primary btn-lg" th:href="@{/user/connect-wallet}">Connect Wallet</a> -->
                </div>
            </div>

            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                    <div class="h-100 p-5 text-white bg-dark rounded-3">
                        <h2></h2>
                        <h5>Account: <span class="showAccount"></span></h5>
                        <h6><span th:text="${balanceInEther}">ETH</span></h6>
                        <button class="btn btn-outline-light" type="button">Ethereum</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="h-100 p-5 bg-light border rounded-3">
                        <h2>Add borders</h2>
                        <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
                        <form th:action="@{/user/send-ether}" th:method="get" >
                            <button class="btn btn-outline-secondary" type="submit" >Send Ether</button>
                        </form>

                    </div>
                </div>
            </div>

            <div class="p-5 mb-4 mt-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <form class="mx-1 mx-md-4" action="" th:action="@{/send-ethers}" method="post" th:object="${myTransaction}">

                        <!-- name field-->
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                <input type="text" name="addressFrom"
                                       id="form3Example1c" class="form-control"/>
                                <label class="form-label" for="form3Example1c">Address From</label>
                                <div class="invalid-feedback"
                                     th:each="e:${#fields.errors('addressFrom')}"
                                     th:text="${e}">
                                </div>
                            </div>

                        </div>

                        <!-- Email Field -->
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                <input type="email" name="addressTo"
                                       id="form3Example3c" class="form-control"/>
                                <label class="form-label" for="form3Example3c">Address To</label>
                                <div class="invalid-feedback"
                                     th:each="e:${#fields.errors('addressTo')}"
                                     th:text="${e}">
                                </div>
                            </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                <input type="text" name="amountEth"
                                       id="form3Example4c" class="form-control"/>
                                <label class="form-label" for="form3Example4c">Amount (ETH)</label>

                                <div class="invalid-feedback"
                                     th:each="e:${#fields.errors('amountEth')}"
                                     th:text="${e}">
                                </div>
                            </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                <input type="text" name="keyword"
                                       id="form3Example5c" class="form-control"/>
                                <label class="form-label" for="form3Example4c">Keyword</label>

                                <div class="invalid-feedback"
                                     th:each="e:${#fields.errors('keyword')}"
                                     th:text="${e}">
                                </div>
                            </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                <input type="text" name="referenceText"
                                       id="form3Example6c" class="form-control"/>
                                <label class="form-label" for="form3Example4c">Reference Text</label>

                                <div class="invalid-feedback"
                                     th:each="e:${#fields.errors('referenceText')}"
                                     th:text="${e}">
                                </div>
                            </div>
                        </div>




                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                            <button type="submit" class="btn btn-primary btn-lg">Send ETH</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </main>
</section>
</body>
</html>